body {
  background: grey;
}

.result-message {
  font-family: 'Oswald', sans-serif;
  font-size: 5vw;
  text-align: center;
  margin-top: 20px;
}

.container {
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

h1 {
 font-size: 6vw;
 color: orange;
}
.intro{
  font-size: 4vw;
  color: blue;
}

.qOne{
  font-size: 4vw;
  color: purple;
}

.qTwo{
  font-size: 4vw;
  color: red;
}

button{
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}

input{
  border-color: red;
   margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}